@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-common';
@import '@skeletonlabs/skeleton/themes/modern';

@plugin '@tailwindcss/forms';

/* Custom styles */
:root {
	--app-max-width: 1200px;
}

body {
	min-height: 100vh;
}

/* Hide native number input spinners */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
